body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    --nav-load-time: 0.4s;
    --nav-link-load-time: 0.6s;
    --article-load-delay: calc(var(--nav-link-load-time) + var(--nav-load-time));
}
/*
    PAGE STYLING
------------------*/
nav {
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}
nav ul {
    margin: 0;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}
nav li {
    padding: 1rem;
    margin: 1rem;
}
nav a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s all ease;
}
nav a:hover {
    color: #333;
}
@media (max-width: 576px) {
    nav ul {
        font-size: 1rem;
    }
    nav li {
        margin: 0.5rem;
        padding: 0.5rem;
    }
}
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 1rem;
}
main h1 {
    font-size: 1.75rem;
}
main p {
    font-size: 1.1rem;
}
@media (max-width: 576px) {
    main {
        padding: 1rem;
    }
}
.highlight {
    font-size: 1.25rem;
    margin-top: 2rem;
    padding: 1rem;
    background-color: lightcyan;
}
/*
    ANIMATIONS
-----------------*/


/* Nav - First animation for the nav bar */
nav {
    animation: nav-load var(--nav-load-time) ease-in;
}
@keyframes nav-load {
    0% {
        transform: translateY(-100%)
    }
    100% {
        transform: translateY(0);
    }
}

/* Nav - Second animation for the li */
nav li {
    /* animation: nav-link-load var(--nav-link-load-time) ease-in var(--nav-load-time); */
    animation-name: nav-link-load;
    animation-duration: var(--nav-link-load-time);
    animation-timing-function: ease-in;
    animation-delay: var(--nav-load-time);
   
    animation-fill-mode: forwards;
    transform: scale(0);
}
@keyframes nav-link-load {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
/* Main - Third animation for h1 tag */
h1 {
    animation: article-load 0.4s ease-in var(--article-load-delay);
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
}
@keyframes article-load {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
/* Main - Third animation for p tag, similar to h1 animation with a slight delay added */
p {
    animation: article-load 0.4s ease-in calc(var(--article-load-delay) + 0.2s);
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
}
@keyframes article-load {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
/* Animation for the highlight div  */
@media (min-width: 768px) {
    .highlight {
        animation: highlight-load 0.6s ease-in calc(var(--article-load-delay) + 0.4s);    
        animation-fill-mode: forwards;
        opacity: 0;
    }
}
@keyframes highlight-load {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        tranform: translateX(0);
        opacity: 1;
    }
}

