@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
    margin: 0;
    background-color: #f7f2e9;
    color: #2b292b;
    font-family: "Lato", sans-serif;
}

h1,
h2 {
    font-family: "Cinzel Decorative", cursive;
}

.blog {
    max-width: 800px;
    margin: 5rem auto;
}

p {
    color: #403c34;
    line-height: 1.75;
}

.progressBar {
    position: fixed;
    left: 0;
    top: 0;
    height: 10px;
    background: linear-gradient(to right, #ac8435, goldenrod);
    width: 0;
    z-index: 100;
    transition: width 0.1s ease;
}

@media (max-width: 576px) {
    .blog {
        padding: 0 10px;
    }
}
