@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: qsLight;
    src: url("../public/fonts/Quicksand-Light.ttf");
}
@font-face {
    font-family: qsRegular;
    src: url("../public/fonts/Quicksand-Regular.ttf");
}
@font-face {
    font-family: qsSemiBold;
    src: url("../public/fonts/Quicksand-SemiBold.ttf");
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
