body {
    margin: 0;
    background: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    height: 300px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}